DATABASE_URL=postgresql://user:password@localhost:5432/database
REDIS_URL=redis://localhost:6379/0
OPENAI_API_KEY=
JWT_SECRET_KEY=e43dbd50-d7bd-4390-85c3-44775803c38e
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

